/* Projects section */

.card {
    position: relative;
    float: left;
    overflow: scroll;
    height: 100%;
    width: 100%;
   }

.card div{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: var(--bright);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    overflow: scroll;
    -webkit-transition: visibility 0s, opacity 0.5s ease-in-out; 
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.card:hover div{
    visibility: visible;
    opacity: 0.8;
}

.text-muted:link {
    color: var(--bright);
}


.text-muted:hover {
    cursor: pointer;
    color: var(--dark);
}

#projects-link {
    /* height: 100vh; */
    margin-top: auto;
    width: 100%;
}

.card-group {
    margin: 3%;
}

#projectsheader {
    margin-top: 0;
    margin-right: 60%;
    padding-left: 15%;
    font-size: 38px;
    text-align: right;
    color: var(--bright);
    background-color: var(--dark);
    width: fit-content;
}