input,
textarea {
    width: 100%;
    height: 45px;
    padding: 20px;
    margin: 20px;
}

textarea {
    height: 150px;
}

form {
    padding: 20px;
}

form button {
    text-decoration: none;
    padding: 20px;
    margin: 20px 5px;
    background-color: var(--dark);
    color: var(--mid);
    border-radius: 3px;
    box-shadow: -5px 5px 1px var(--light);
    font-weight: bolder;
}

contact {
    display: flex;
    justify-content: center;
    align-items: center;
}