input,
textarea {
    width: 100%;
    height: 45px;
    padding: 20px;
    margin: 20px;
}

textarea {
    height: 150px;
}

form {
    padding: 20px;
}

form button {
    padding: 8px;
    width: 20%;
    background-color: var(--compliment);
    font: inherit;
    border-radius: 4px;
}

contact {
    display: flex;
    justify-content: center;
    align-items: center;
}