nav {
    background-color: var(--dark);
    display: flex ;
    justify-content: center;

    /* width: 100%;
    min-width: 370px; */
    padding: 25px;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
}

.name-title {
    margin: 0%;
}

.center-nav {
    display: flex;
    justify-content: space-around;
}

.nav-links {
    margin: 0px 10px 0px 10px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    color: var(--mid);
    text-decoration: none;
    align-content: center;
}

@media screen and (max-width: 800px) {
    nav {
        width: 100%;
        min-width: 0px;
    }
}